<%- include('header'); -%>
<div class="box" id="heading">
    <h1><%= dayType %></h1>
</div>
<div class="box">
        <%for(var i=0;i<newTask.length;i++){%>
            <div >
                <div class="item ">
                    <input type="checkbox">
                    <p><%=newTask[i]%></p>
                </div>
            </div>
        <% } %>
        <form class="item" action="/" method="POST">
            <input type="text" name="newTask" placeholder="New Task" autocomplete="off">
            <button class="button" type="submit" name="button" value=<%=dayType%> >+</button>
        </form>
</div>
<%- include('footer.ejs') %> 